* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: barlow condensed, sans-serif;
}
.box1 {
  border: 1px solid rgb(10, 65, 93);
  background-color: rgb(88, 54, 168);
  height: 35px;
}

.box1 ul {
  float: left;
  color: white;
}

.box1 ul li {
  margin-top: -10px;
  float: left;
  position: relative;
  left: 540%;
  width: 100px;
  font-size: 14px;
  font-family: barlow condensed, sans-serif;
  list-style-type: none;
}

.box1 ul li a {
  text-decoration: none;
  color: white;
}

.navBar {
  border: 1px solid transparent;
  background-color: whitesmoke;
  height: 50px;
}

.navBar ol {
  float: left;
}
.navBar ol li {
  float: left;
  width: 170px;
  position: relative;
  left: 390px;
  list-style-type: none;
  font-family: barlow condensed, sans-serif;
  font-size: 13px;
}

.navBar ol li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navBar ol li a:hover {
  border-bottom: 2px solid rgb(51, 51, 244);
}
